
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarEncuesta()" class="form-horizontal form-material" id="loginform" action="index.html">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/encuesta.png" alt="Home" /><br/></a>
                <h3 class="box-title m-t-40 m-b-0">Ingrese la información solicitada</h3><small></small>
                <div class="form-group ">
                    <div class="col-xs-12">
                      <label>Email:</label>
                        <input formControlName="email" name="email" class="form-control" type="email" required placeholder="prueba@gmail.com">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                      <label>Estilo de Musica:</label>
                      <select formControlName="estiloMusica"  name="estiloMusica" class="form-control" required>
                        <option value="Seleccione" selected>Seleccione</option>
                        <option value="ROCK">ROCK</option>
                        <option value="POP">POP</option>
                        <option value="JAZZ">JAZZ</option>
                        <option value="CLASICA">CLASICA</option>
                        <option value="OTRO">OTRO</option>
                      </select>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registar Encuesta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

